<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="margin: 50px 0 0 0;">Find Words On Youtube!</h1>
        <p class="text-center" style="margin-bottom: 25px">ユーチューブでたんごをさがそう!</p>
        <p class="text-center"><a href="/" class="btn btn-success">Home ほーむ</a></p>

        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div class="row">
            <div id="player" class="col-xs-offset-2 col-xs-8"></div>
        </div>

        <script>var videoId = '[[${video.videoId}]]';</script>
        <script th:src="youtubeHandler.js"></script>

        <h2>[[${video.title}]]</h2>
        <h3>List of texts that have: <b>[[${keyword}]]</b></h3>
        <div th:each="data:${subtitleData}" class="col-xs-12">
            <a style="text-decoration: none;" th:href="'/player?v=' + ${video.videoId} + '&k=' + ${keyword} + '&start=' + ${data.start} + '&dur=' + ${data.dur}">
                <div class="alert alert-info">
                    [[${data.text}]]
                </div>
            </a>
            <button class="btn btn-danger" th:onclick="'onClickLoadVideo(' + ${data.start} + ',' + ${data.dur} + ')'">Boom</button>
        </div>
    </div>
</body>
</html>