<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="margin: 50px 0 0 0;">Search Result: [[${searchWord.word}]]</h1>
        <p class="text-center" style="margin-bottom: 25px">けんさくけっか: [[${searchWord.word}]]</p>
        <p class="text-center"><a href="/" class="btn btn-success">Home ほーむ</a></p>
        <div class="row" th:each="data:${dataset}">
            <a th:href="'/player?v=' + ${data.get(0)} + '&k=' + ${searchWord.word} + ''">
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <img th:src="${data.get(3)}" width="280" height="200">
                    </div>
                    <div class="col-xs-9">
                        <h3>[[${data.get(1)}]] <span class="label label-success">[[${data.get(2)}]]</span></h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>
</html>